<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logger/>
                <thread/>
                <level/>
                <message/>
                <context/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <logger name="com.krysenko4sky.service" level="DEBUG" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="com.krysenko4sky.controller" level="DEBUG" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>
